@import url("https://fonts.googleapis.com/css2?family=Bevan&family=JetBrains+Mono&family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family), sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.active {
  background-color: #fff;
  color: #000;
}

.section-padding {
  padding: 2rem 6rem;
}
